BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "sensorInput[0]" IO_TYPE=LVTTL33 PULLMODE=DOWN HYSTERESIS=LARGE ;
IOBUF PORT "sensorInput[1]" IO_TYPE=LVTTL33 PULLMODE=DOWN HYSTERESIS=LARGE ;
IOBUF PORT "sensorInput[2]" IO_TYPE=LVTTL33 PULLMODE=DOWN HYSTERESIS=LARGE ;
IOBUF PORT "sensorInput[3]" IO_TYPE=LVTTL33 PULLMODE=DOWN HYSTERESIS=LARGE ;
IOBUF PORT "sensorInput[4]" IO_TYPE=LVTTL33 PULLMODE=DOWN HYSTERESIS=LARGE ;
IOBUF PORT "sensorInput[5]" IO_TYPE=LVTTL33 PULLMODE=DOWN HYSTERESIS=LARGE ;
IOBUF PORT "sensorInput[6]" IO_TYPE=LVTTL33 PULLMODE=DOWN HYSTERESIS=LARGE ;
IOBUF PORT "sensorInput[7]" IO_TYPE=LVTTL33 PULLMODE=DOWN HYSTERESIS=LARGE ;
IOBUF PORT "ws2811wireIn" IO_TYPE=LVDS25 PULLMODE=NONE ;
IOBUF PORT "actuators[0]" IO_TYPE=LVTTL33 DRIVE=8 OPENDRAIN=OFF ;
IOBUF PORT "actuators[1]" IO_TYPE=LVTTL33 DRIVE=8 OPENDRAIN=OFF ;
IOBUF PORT "actuators[2]" IO_TYPE=LVTTL33 DRIVE=8 OPENDRAIN=OFF ;
IOBUF PORT "actuators[3]" IO_TYPE=LVTTL33 DRIVE=8 OPENDRAIN=OFF ;
IOBUF PORT "ws2811wireOut" IO_TYPE=LVDS25E PULLMODE=NONE SLEWRATE=SLOW ;
LOCATE COMP "ws2811wireIn" SITE "13" ;
LOCATE COMP "sensorInput[0]" SITE "20" ;
LOCATE COMP "sensorInput[1]" SITE "21" ;
LOCATE COMP "sensorInput[2]" SITE "23" ;
LOCATE COMP "sensorInput[3]" SITE "25" ;
LOCATE COMP "sensorInput[4]" SITE "26" ;
LOCATE COMP "sensorInput[5]" SITE "27" ;
LOCATE COMP "sensorInput[6]" SITE "28" ;
LOCATE COMP "sensorInput[7]" SITE "12" ;
LOCATE COMP "actuators[0]" SITE "11" ;
LOCATE COMP "actuators[1]" SITE "10" ;
LOCATE COMP "actuators[2]" SITE "9" ;
LOCATE COMP "actuators[3]" SITE "8" ;
LOCATE COMP "ws2811wireOut" SITE "4" ;
USERCODE BIN "11111111111111111111111111111111" ; 
USE PRIMARY NET "masterClk" ;
IOBUF PORT "active" IO_TYPE=LVTTL33 ;
LOCATE COMP "active" SITE "16" ;
IOBUF PORT "err" IO_TYPE=LVTTL33 ;
LOCATE COMP "err" SITE "17" ;
TRACEID "00000000" ; 
